:root{
  --black: #1E1E1E;
  --dark-black: rgb(20 20 20/1);
  --blue: #1d3557;
  --grey: #AFAFAF;
  --red: rgb(255,50,50);
  --green:rgb(0, 150, 0);
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.icon{
  height:40px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

a {
  text-decoration: none;
  color:white;
}

p,h3{
  margin-block:0;
}

@media only screen and (max-width:600px) {
  .icon{
    height:30px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    transition: 20ms;
  transform: scale(1);

  }
}

.icon:active, .icon:focus {
  transform: scale(0.7);
  transition:20ms;
}



.hidden {
  display:none;
}


.productrow{
  width: min(1400px, 98%);
  display: grid;
  margin-inline: auto;
  grid-template-rows: 60px 1fr;
}
.productrow-header{
  grid-row:1 / 2;
  margin-block: auto;
  font-size:30px;
  font-weight: 600;
  color:var(--black);
}

.productrow-container{
  width:100%;
  display:grid;
  grid-row: 2 / 3;
  grid-template-columns:  repeat(auto-fit , minmax(300px,1fr));
  gap: min(20px , 2vw);
}

input{
  border:none;
  outline: none;
}

input:active{
  border:none;
  outline: none!important;
}

